# Dependencies
node_modules/

# Build outputs
.next/
dist/
.turbo/
.expo/
.expo-shared/
coverage/
build/

# Env & config
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
*.swp
*.swo
*.tmp
Thumbs.db
